.activity-section {
    padding-bottom: 150px;
}

.activity-section__desc-wrapper {
    margin-bottom: 64px;
    display: flex;
    align-items: center;
}

.bi-octagon-fill {
    color: #E89E4A;;
}

.activity-section__desc {
    margin: 0;
    margin-left: 16px;
    padding: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.activity-section__title {
    margin: 0;
    margin-bottom: 64px;
    padding: 0;
    width: 762px;
    font-weight: 600;
    font-size: 40px;
    line-height: 56px;
    color: #FFFFFF;
}

.activity-section__wrapper {
    display: flex;
    margin-bottom: 214px;
}

.activity-section__span {
    display: block;
    width: 160px;
    height: 1px;
    background-color: #FFFFFF;
}

.activity-section__description {
    margin: 0;
    margin-left: 205px;
    padding: 0;
    width: 852px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
}

.activity-section__animation {
    overflow: hidden;
    position: relative;
}

.activity-section__animation-text {
    width: 2311px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 128px;
    line-height: 136px;
    text-transform: uppercase;
    text-shadow:
        -4px 0px 0px rgba(255, 255, 255, 0.2),
        4px 0px 0px rgba(255, 255, 255, 0.2),
        0px -4px 0px rgba(255, 255, 255, 0.2),
        0px 4px 0px rgba(255, 255, 255, 0.2);
    color: #232323;
    height: 100%;
    text-align: center;
    transform: translate(100%);
    animation: scroll-left 25s linear infinite;
}

@keyframes scroll-left {
 0%   {
 transform: translateX(100%);
 }
 100% {
 transform: translateX(-100%);
 }
}