.foundation-section {
    padding-top: 140px;
    padding-bottom: 163px;
}

.foundation-section__top {
    margin-bottom: 64px;
    display: flex;
    align-items: center;
}

.bi-hexagon-fill {
    color: #E89E4A;
}

.foundation-section__top-desc {
    margin: 0;
    margin-left: 16px;
    padding: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.foundation-section__wrapper {
    display: flex;
}

.foundation-section__left {
    width: 578px;
}

.foundation-section__left-title {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    font-weight: 600;
    font-size: 40px;
    line-height: 56px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.foundation-section__right {
    margin-left: 20px;
    width: 832px;
}

.foundation-section__right-span {
    margin-bottom: 80px;
    display: block;
    width: 160px;
    height: 1px;
    background-color: #FFFFFF;
}

.foundation-section__right-desc {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
}


@media screen and (min-width: 320px) and (max-width: 480px) {

    .foundation-section {
        padding-bottom: 130px;
    }

    .foundation-section__top {
        margin-bottom: 40px;
    }

    .foundation-section__top-desc {
        font-size: 12px;
        line-height: 20px;
    }

    .foundation-section__wrapper {
        flex-direction: column;
    }

    .foundation-section__left {
        width: 340px;
    }

    .foundation-section__left-title {
        margin-bottom: 90px;
        font-size: 24px;
        line-height: 32px;
    }

    .foundation-section__left-img {
        width: 360px;
        height: 409px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .foundation-section__right {
        margin-left: 0;
        margin-top: 90px;
        width: 340px;
    }

    .foundation-section__right-span {
        margin-bottom: 40px;
    }

    .foundation-section__right-desc {
        font-size: 14px;
        line-height: 22px;
    }

}