.company-section {
    padding-top: 1050px;
    padding-bottom: 200px;
    background-image: url(../../assets/images/company-bg.jpeg);
    background-repeat: no-repeat;
    background-size: auto 100vh;
    background-position: center top;
    /* height: 100vh; */
}

.company-section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .company-section__img {
    margin-bottom: 80px;
} */

.company-section__title {
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.company-section__desc {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    width: 900px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.company-section__list {
    margin: 0;
    margin-bottom: 160px;
    margin-left: 20px;
    padding: 0;
    width: 900px;

}

.company-section__item {
    margin-left: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.company-section__item + .company-section__item {
    margin-top: 10px;
}

.company-section__image-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: 345px 345px 345px 345px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

    /* .company-section__container {
        width: 340px;
    } */

    .company-section__title {
        width: 340px;
        margin-bottom: 40px;
        font-size: 24px;
        line-height: 32px;
    }

    .company-section__desc {
        width: 340px;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 24px;
    }

    .company-section__list {
        width: 340px;
        margin-bottom: 80px;
    }

    .company-section__item {
        font-size: 16px;
        line-height: 24px;
    }

    .company-section__image-wrapper {
        grid-template-columns: 50% 50%;
    }

    .company-section__image {
        width: 208px;
        height: 278px;
    }
}