.hero-section {
    padding-bottom: 240px;
}

.container {
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
}

.hero-section__img {
    width: 100vw;
    height: 100vh;
}

.hero-section__title {
    z-index: 100;
    position: absolute;
    top: 40%;
    margin: 0;
    padding: 0;
    width: 1400px;
    font-weight: 700;
    font-size: 68px;
    line-height: 98px;
    color: #FFFFFF;
}

.hero-section__desc {
    margin: 0;
    margin-bottom: 2px;
    padding: 0;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero-section__span {
    margin: 0 auto;
    display: block;
    width: 1px;
    height: 38px;
    background-color: #FFFFFF;
}

.hero-section__wrapper {
    position: absolute;
    top: 40%;
    left: 5%;
}

.hero-section__scroll {
    position: absolute;
    bottom: 2px;
    left: 47%;
    z-index: 100;
}

.swiper-pagination-bullet {
    background-color: white !important;
    position: relative;
    left:  32%;
    bottom: 150px;
}

.swiper-button-prev {
    color: #FFFFFF !important;
    position: relative !important;
    left:  78% !important;
    bottom: 128px !important;
}

.swiper-button-next {
    color: #FFFFFF !important;
    position: relative !important;
    left:  84% !important;
    bottom: 150px !important;
}

.swiper-button-prev::after {
    font-size: 20px !important;
}

.swiper-button-next::after {
    font-size: 20px !important;
}



@media screen and (min-width: 320px) and (max-width: 480px) {

    .hero-section {
        padding-bottom: 120px;
    }

    .hero-section__title {
        /* word-break: break-word; */
        width: 340px;
        font-size: 40px;
        line-height: 49px;
        text-align: center;
    }

    span {
        word-break: break-word;
    }

    .hero-section__scroll {
        display: none;
    }

    .swiper-pagination-bullet {
        bottom: 50px !important;
        left: 0 !important;
    }

    .swiper-button-prev {
        left:  38% !important;
        bottom: 26px !important;
    }

    .swiper-button-next {
        left: 55% !important;
        bottom: 48px !important;
    }
}