.articlehero-section {
    padding-top: 220px;
    padding-bottom: 80px;
}

.articlehero-section__date {
    margin: 0;
    margin-bottom: 64px;
    padding: 0;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #E89E4A;
}

.articlehero-section__title {
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.articlehero-section___img {
    border-radius: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.articlehero-section___img-res {
    display: none;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .articlehero-section__date {
        margin-bottom: 40px;
    }

    .articlehero-section__title {
        font-size: 24px;
        line-height: 32px;
    }

    .articlehero-section___img {
        display: none;
    }

    .articlehero-section___img-res {
        display: block;
        width: 100%;
    }
}