/* .delivery-section {
    padding-top: 178px;
} */

.delivery-section__container {
    display: flex;
    align-items: center;
}

.delivery-section__wrapper {
    margin-left: 80px;
    width: 710px;
}

.delivery-section__img {
    border: 1px solid transparent;
    border-radius: 20px;
}

.delivery-section__title {
    margin: 0;
    margin-bottom: 64px;
    padding: 0;
    font-weight: 600;
    font-size: 38px;
    line-height: 56px;
    color: #FFFFFF;
}

.delivery-section__span {
    margin-bottom: 80px;
    display: block;
    width: 160px;
    height: 1px;
    background-color: #FFFFFF;
}

.delivery-section__desc {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
}


@media screen and (min-width: 320px) and (max-width: 480px) {
    .delivery-section__container {
        flex-direction: column;
    }

    .delivery-section__img {
        display: block;
        margin-left: auto;
        margin-bottom: 32px;
        margin-right: auto;
        width: 340px;
        height: 412px;
    }

    .delivery-section__wrapper {
        margin-left: 0;
        width: 340px;
    }

    .delivery-section__title {
        margin-bottom: 40px;
        font-size: 24px;
        line-height: 32px;
    }

    .delivery-section__span {
        margin-bottom: 40px;
    }

    .delivery-section__desc {
        font-size: 16px;
        line-height: 24px;
    }
}

