.delivery-section {
    padding-top: 178px;
}

.delivery-section__container {
    display: flex;
    align-items: center;
}

.delivery-section__wrapper {
    margin-left: 80px;
    width: 710px;
}

.delivery-section__title {
    margin: 0;
    margin-bottom: 64px;
    padding: 0;
    font-weight: 600;
    font-size: 40px;
    line-height: 56px;
    color: #FFFFFF;
}

.delivery-section__span {
    margin-bottom: 80px;
    display: block;
    width: 160px;
    height: 1px;
    background-color: #FFFFFF;
}

.delivery-section__desc {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
}