.quota-section {
    padding-top: 150px;
    padding-bottom: 128px;
}

.quota-section__img-res {
    display: none;
}


@media screen and (min-width: 320px) and (max-width: 480px) {
    .quota-section__img {
        display: none;
    }

    .quota-section__img-res {
        display: block;
    }
}
