.firms-section__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.firms-section {
    padding-bottom: 130px;
}

.firms-section__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.firms-section__item + .firms-section__item {
    margin-left: 5px;
}

.firms-section__title {
    margin: 0;
    margin-top: 150px;
    margin-bottom: 80px;
    padding: 0;
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
}

.firms-section__desc {
    margin: 0;
    padding: 0;
    width: 900px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}