.firms-section {
    padding-bottom: 130px;
}

.firms-section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.firms-section__img-wrapper {
    overflow: hidden;
    width: 100vw;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.firms-section__img {
    width: 100%;
    height: 100%;
}

.firms-section__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.firms-section__title {
    margin: 0;
    margin-top: 150px;
    margin-bottom: 80px;
    padding: 0;
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
}

.firms-section__desc {
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
    width: 900px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.desc {
    font-size: 18px;
}

.firms-section__description-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.firms-section__description {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    width: 900px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}


@media screen and (min-width: 320px) and (max-width: 480px) {
    .firms-section__img-wrapper {
        overflow: hidden;
        grid-template-columns: repeat(1, 100%);

    }

    .firms-section__wrapper {
        display: none;
    }
}