.firms-section {
    padding-bottom: 130px;
}

.firms-section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.firms-section__img-wrapper {
    overflow: hidden;
    max-width: 100vw;
    display: grid;
    grid-template-columns: 24% 28% 24% 24%;
}

.firms-section__img {
    width: 100%;
    height: 100%;
    transition: all 300ms linear;
}

.firms-section__img:hover {
    filter: brightness(140%);
}



@media screen and (min-width: 320px) and (max-width: 480px) {
    .firms-section__img-wrapper {
        overflow: hidden;
        grid-template-columns: repeat(1, 100%);

    }

    .firms-section__wrapper {
        display: none;
    }
}