.worktype-section {
    padding-top: 220px;
    padding-bottom: 100px;
}

.worktype-section__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.worktype-section__item {
    display: flex;
    align-items: center;
}

.worktype-section__item + .worktype-section__item {
    margin-top: 120px;
}

.worktype-section__item:nth-child(even) {
    flex-direction: row-reverse;
}

.worktype-section__item:nth-child(even) .worktype-section__wrapper {
    margin-left: 0;
    margin-right: 62px;
}

.worktype-section__wrapper {
    width: 546px;
    margin-left: 62px;
}

.worktype-section__title {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    font-weight: 700;
    font-size: 34px;
    line-height: 48px;
    color: #FFFFFF;
}

.worktype-section__desc {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.worktype-section__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #E89E4A;
}

.worktype-section__link:hover {
    opacity: 0.8;
}

.worktype-section__img-arrow {
    margin-left: 12px;
}


@media screen and (min-width: 320px) and (max-width: 480px) {

    .worktype-section__item {
        flex-direction: column;
    }

    .worktype-section__item + .worktype-section__item {
        margin-top: 80px;
    }

    .worktype-section__item:nth-child(even) {
        flex-direction: column;
    }

    .worktype-section__item:nth-child(even) .worktype-section__wrapper {
        margin-left: 0;
        margin-right: 0;
    }

    .worktype-section__wrapper {
        width: 340px;
        margin-top: 40px;
        margin-left: 0;
    }

    .worktype-section__img {
        width: 340px;
        height: 240px;
    }

    .worktype-section__title {
        margin-bottom: 32px;
        font-size: 28px;
        line-height: 40px;
    }

    .worktype-section__desc {
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 24px;
    }

    .worktype-section__link {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}