.head {
    padding: 40px 0;
    position: absolute;
}

.container {
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
}
.head__container {
    display: flex;
    align-items: center;
}

.head__nav {
    margin-left: 150px;
}

.head__nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.head__nav-item + .head__nav-item {
    margin-left: 80px;
}

.head__nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
}

.head__nav-link:hover {
    color: #E89E4A;
}

.head__nav-link-active  {
    color: #E89E4A;
}

.head__select {
    margin-left: 80px;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    outline: none;
}

.head__number-link {
    margin-left: 80px;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
}

.head__number-link:hover {
    color: #E89E4A;
}

.nav-btn {
    display: none;
    padding: 5px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.8rem;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

    .head__container {
        justify-content: space-between;
    }

    .head__img {
        width: 64px;
        height: 80px;
    }

    .head__number-link {
        display: none;
    }

    .nav-btn {
        display: block;
        color: #FFFFFF;
        font-size: 2rem;
    }

    .head__nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        gap: 1.5rem;
        background-color: white;
        opacity: 1;
        display: none;
        border: 1px solid transparent;
        border-radius: 15px;
    }

    .head__nav-list {
        margin-top: 80px;
        flex-direction: column;
        justify-content: center;
    }

    .head__nav-item {
        color: #242424;
    }

    .head__nav-item + .head__nav-item {
        margin-left: 0;
        margin-top: 40px;
    }

    .responsive_nav {
        display: block;
    }

    .head__close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
}