.feature-section {
    padding-top: 220px;
}

/* .feature-section__wrapper {
    margin-left: 40px;
    position: absolute;
    bottom: 15%;
} */

/* .feature-section__desc {
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #E89E4A;
}

.feature-section__title {
    margin: 0;
    padding: 0;
    width: 1360px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
    color: #FFFFFF;
} */