.partner-section {
    padding-top: 120px;
    padding-bottom: 170px;
    background-color: #FFFFFF;
}

.partner-section__title {
    margin: 0;
    margin-bottom: 135px;
    padding: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #242424;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
    transition-timing-function: linear;
}