.partner-section {
    padding-top: 120px;
    padding-bottom: 170px;
    background-color: #FFFFFF;
}

.container {
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
}

.partner-section__title {
    margin: 0;
    margin-bottom: 135px;
    padding: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #242424;
}

.partner-section__img-wrapper {
    overflow: hidden;
}

.img-ticker {
    display: flex;
    align-items: center;
    animation: ticker-kf 50s linear infinite;
}

@keyframes ticker-kf {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(-150rem, 0, 0);
    }
}

.partner-section__img + .partner-section__img {
    margin-left: 80px;
}

.partner-section__img {
    width: 100%;
    height: 100%;
}
