.partner-section {
    padding-top: 120px;
    padding-bottom: 170px;
    background-color: #FFFFFF;
}

.container {
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
}

.partner-section__title {
    margin: 0;
    margin-bottom: 135px;
    padding: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #242424;
}

.partner-section__img {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}


