.partner-section {
    padding-top: 120px;
    padding-bottom: 170px;
    background-color: #FFFFFF;
}

.partner-section__title {
    margin: 0;
    margin-bottom: 135px;
    padding: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #242424;
}

.partner-section__img-wrapper {
    width: 2100px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    transform:translateX(100%);
    animation: scroll-left 15s linear infinite;
}

.partner-section__img {
    width: 100%;
    height: 100%;
    margin: 0;
}

.partner-section__img + .partner-section__img {
    margin-left: 80px;
}

@keyframes scroll-left {
    0%   {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

