.partner-section {
    padding-top: 120px;
    padding-bottom: 170px;
    background-color: #FFFFFF;
}

.partner-section__title {
    margin: 0;
    margin-bottom: 135px;
    padding: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #242424;
}

.swiper-button-prev {
    color: #242424;
    margin-left: 20px;
}

.swiper-button-next {
    color: #242424;
    margin-right: 20px;
}

.swiper-list {
    margin-left: 50px;
}