.description-section {
    padding-bottom: 135px;
}

.description-section__container {
    width: 900px;
    display: flex;
    flex-direction: column;
}

.description-section__title {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    text-align: left;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #E89E4A;
}

.description-section__desc {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

.description-section__img {
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.description-section__link {
    margin-bottom: 40px;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #E89E4A;
}

.description-section__link:hover {
    opacity: 0.8;
}


@media screen and (min-width: 320px) and (max-width: 480px) {

    .description-section__container {
        width: 360px;
    }

    .description-section__title {
        font-size: 32px;
        line-height: 40px;
    }

    .description-section__desc {
        font-size: 14px;
        line-height: 24px;
    }

    .description-section__img {
        width: 340px;
        height: 184px;
    }
}