.header {
    padding: 40px 0;
    position: absolute;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.container {
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__nav {
    margin-left: 150px;
}

.header__nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.header__nav-item + .header__nav-item {
    margin-left: 80px;
}

.header__nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    transition: color 150ms linear;
}

.header__nav-link:hover {
    color: #E89E4A;
}

.header__nav-link-active  {
    color: #E89E4A;
}

.header__select {
    margin-left: 80px;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    outline: none;
}

.header__number-link {
    margin-left: 80px;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    transition: color 150ms linear;
}

.header__number-link:hover {
    color: #E89E4A;
}

.nav-btn {
    display: none;
    padding: 5px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.8rem;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

    .header__container {
        justify-content: space-between;
    }

    .header__img {
        width: 64px;
        height: 80px;
    }

    .header__number-link {
        display: none;
    }

    .nav-btn {
        display: block;
        color: #FFFFFF;
        font-size: 2rem;
    }

    .header__nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        gap: 1.5rem;
        background-color: #FFFFFF;
        opacity: 1;
        display: none;
        border: 1px solid transparent;
        border-radius: 15px;
        z-index: 1;
    }

    .header__nav-list {
        margin-top: 80px;
        flex-direction: column;
        justify-content: center;
    }

    .header__nav-link {
        color: #242424 !important;
    }

    .header__nav-link:hover {
        color: #E89E4A !important;
    }

    .header__nav-link:active {
        color: #E89E4A !important;
    }

    .header__nav-item + .header__nav-item {
        margin-left: 0;
        margin-top: 40px;
    }

    .responsive_nav {
        display: block;
    }

    .header__close-btn {
        color: #242424;
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
}