.works-section {
    padding-top: 120px;
    padding-bottom: 200px;
}

.works-section__title {
    margin: 0;
    margin-bottom: 160px;
    padding: 0;
    font-weight: 600;
    font-size: 56px;
    line-height: 80px;
    color: #FFFFFF;
}

.works-section__title-span {
    color: #E89E4A;
}

.works-section__first-list {
    overflow: hidden;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 25% 25% 50%;
}

.works-section__second-list {
    overflow: hidden;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 50% 25% 25%;
}

.works-section__img {
    width: 100%;
    height: 100%;
}

.works-section__item:hover {
    filter: brightness(120%);
}

.works-section__desc {
    margin: 0;
    padding: 0;
    position: relative;
    left: 15px;
    bottom: 120px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
}

.big {
    width: 688px;
}


.bottom {
    bottom: 80px;

}