.mission-section {
    padding-bottom: 150px;
    padding-bottom: 240px;

}

.mission-section__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mission-section__img {
    margin-bottom: 48px;
}

.heading {
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    width: 469px;
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;
    color: #FFFFFF;
}

.description {
    margin: 0;
    padding: 0;
    width: 440px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

    .mission-section {
        padding-bottom: 120px;
    }

    .mission-section__wrapper {
        flex-direction: column;
    }

    .mission-section__left {
        margin-bottom: 80px;
    }

    .mission-section__img {
        width: 120px;
        height: 120px;
    }

    .heading {
        font-size: 32px;
        line-height: 40px;
    }

    .description {
        font-size: 16px;
        line-height: 24px;
    }
}