.mission-section {
    padding-bottom: 150px;
    padding-bottom: 240px;

}

.mission-section__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.eye {
    margin-bottom: 48px;
    color: #FFFFFF;
    font-size: 10rem;
}

.heading {
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    width: 469px;
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
}

.description {
    margin: 0;
    padding: 0;
    width: 440px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}