.values-section {
    padding-top: 100px;
    padding-bottom: 300px;
    background-image: url(../../assets/images/circle.png);
    background-repeat: no-repeat;
    background-size: 640px 640px;
    background-position: center top 320px;
}

.values-section__title {
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
}

.values-section__desc {
    margin: 0;
    padding: 20px 35px;
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #242424;
    background-color: #FFFFFF;
}

.values-section__desc:hover {
    background-color: #E89E4A;
    color: #242424;
}

.dev {
    width: 615px;
    margin-left: 140px;
    margin-top: 140px;
}

.res {
    width: 360px;
    margin-left: 880px;
    margin-top: 40px;
}

.quality {
    width: 250px;
    margin-left: 220px;
    margin-top: 54px;
}

.team {
    width: 400px;
    margin-left: 840px;
    margin-top: 48px;
}

.client {
    width: 550px;
    margin-left: 400px;
    margin-top: 108px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

    .values-section {
        padding-top: 0;
        padding-bottom: 500px;
        background-image: url(../../assets/images/values-bg.png);
        background-repeat: no-repeat;
        background-size: 360px 198px;
        background-position: center;
    }


    .values-section__title {
        font-size: 32px;
        line-height: 40px;
    }
}