.values-section {
    padding-top: 100px;
    padding-bottom: 1000px;
    background-image: url(../../assets/images/values-bg.png);
    background-repeat: no-repeat;
    background-size: 1123px 600px;
    background-position: center top 320px;
}

.values-section__title {
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
}