.contacts-section {
    padding-top: 220px;
    padding-bottom: 128px;
}

.contacts-section__title {
    margin: 0;
    margin-bottom: 64px;
    padding: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color: #FFFFFF;
}

.contacts-section__wrapper {
    display: flex;
    justify-content: space-between;
}

.loc {
    margin-right: 20px;
    color: #E89E4A;
}

.contacts-section__heading {
    margin: 0;
    margin-top: 50px;
    padding: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.contact-section__form {
    margin-top: 30px;
    width: 343px;
    display: flex;
    flex-direction: column;
}

.same-input {
    margin-bottom: 16px;
    padding: 10px;
    border: 1px solid #4F4F4F;
    border-radius: 2px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #F2F2F2;
    background-color: transparent;
    outline: none;
}

.contacts-section__btn {
    padding: 13px 0;
    background: #E89E4A;
    border: 1px solid transparent;
    border-radius: 2px;
    font-weight: 600;
    font-size: 15px;
    line-height: 23px;
    color: #FFFFFF;
}

.contacts-section__btn:hover {
    opacity: 0.8;
}

.con-icon {
    color: #E89E4A !important;
}


@media screen and (min-width: 320px) and (max-width: 480px) {

    .contacts-section__title {
        font-size: 32px;
        line-height: 40px;
    }

    .contacts-section__wrapper {
        flex-direction: column;
    }

    .contacts-section__left {
        margin-bottom: 80px;
    }

    .contacts-section__map-link {
        width: 340px;
        height: 460px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .contact-section__form {
        width: 340px;
        align-content: center;
        justify-content: center;
    }
}